
.container {
    float: left;
    width: 100%;
    height: 500px;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;

}

.container:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(london-city-background.jpeg); 
    width: 100%;
    height: 100%;
    opacity : 0.6;
    z-index: -1;
}


#top-navbar {
    height: 15%;
    background-color: white;
    opacity: 0.92;
    position: relative;
  
}

#left icon {
    height: inherit;
    float: left;
    width: 55%;
    position: static;
    
}

.top-left-img {

    float: left;
    max-height: 100%;
    margin-left: 2%;
    margin-top: 1%;
}

#inner-img {
    height: 45px;
    width: inherit;
}


#home {
    height: 100%;
    float: left;
    width: 9%;
    margin-left: 30%;
}

#home a {
    margin-left: 20%;
    margin-top: 29%;
    display: inline-block;
    font-size: 0.9em;
    color: rgb(126, 118, 118);
}

#apartments {
    height: 100%;
    float: left;
    width: 14%;
    
}

#apartments a {
    margin-top: 18%;
    display: inline-block;
    font-size: 0.9em;
    color: rgb(126, 118, 118);
}

#location {
    height: 100%;
    float: left;
    width: 9%;
}

#location a {
    margin-top: 29%;
    display: inline-block;
    font-size: 0.9em;
    color: rgb(126, 118, 118);;
}

#contact {
    height: 100%;
    float: left;
    width: 9%;
}

#contact a {
    margin-top: 29%;
    display: inline-block;
    font-size: 0.9em;
    color: rgb(126, 118, 118);
    
}

#book-now {
    height: 100%;
    float: left;
    width: 12%;
    border-color:2px solid orangered;
    /* margin-left: 9%; */
}

#book-now a {
    /* margin-left: 20%;
    margin-top: 20%; */
    display: inline-block;
    color: orangered;
    font-weight: 800;
    font-size: 0.9em;
    text-transform: uppercase;
    border:2.5px solid orangered;
    margin-top: 8%;
    padding: 12% 10% 10% 10%;
    text-align: center;
}

#row2 {
    height: 85%;
}

#col-2 {
    height: 85%;
    margin-top: 7%;
}

.center-img {
    width: 50%;
    height: 20%;
    margin-left: 35%;
    margin-top: 20%;
    max-height: 100%;
}

#inner-img2 {
    width: 30%;
    opacity: 0.5;
    border: none;
}

h2 {
    color: white;
    font-weight: 800;
    text-align: center;
    font-size: 1.7em;
    letter-spacing: 1.3px;
}


.row:before {
    display: table;
    content: "";
}

.row:after {
    display: table;
    content: "";
    clear: both;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

  }